<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!--日志级别 DIWE debug info warn error-->
    <!--其实我就是一个注释-->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>