<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    ">
    <!--配置数据库连接文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!--添加基本属性-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--添加优化属性-->
        <property name="defaultAutoCommit" value="false"/>
    </bean>

    <!--配置会话工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--属性注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--属性注入mybatis的主配置文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>

    <!--配置扫描DAO接口-->
    <!--MapperScannerConfigurer和SqlSessionFactoryBean都是来自于mybatis-spring.jar-->
    <!--MapperScannerConfigurer，这个类就是你不写DAO接口实现类的原因-->
    <!--bean时，什么时候需要些id属性？ 如果这个bean定义好了以后需要在别的地方被引用就需要添加id属性-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入会话工厂-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--注入DAO层所在包的基础路径-->
        <property name="basePackage" value="com.qf.admin.dao"/>
    </bean>

    <!--扫描DAO层的注解类,以下注解是为了扫描这个注解：@Repository-->
    <!--<context:component-scan base-package="com.qf.manager.dao"/>-->


</beans>